
.headerInfo{
  border: none;
  width: 100%;
  height: 69px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 21px;
  display: flex;
  justify-content: center;
align-items: center;
}
input{
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 35px !important;
}
.plus{
  position: absolute;
  margin-left: 10px;

}
.taskAdder{
  display: flex;
align-items: center;
}
.numbers{
  text-align: center;
  font-size: 30px;
  color: var(--clock);
}
.numbers span{
  font-size: 1.2rem;
}
.text{
  font-size: 13px;
  color: var(--text);
  margin-right: 10px;
  text-align: center;
}

.mySelect{
  width: 15%;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 15px;
}


@media screen and (max-width: 600px) {
  .text{
    font-size: 9px;
  }
}